<html>
  <head>
    <title>Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  </head>

  <body>
    <div id="app">
      <div>
        <span v-if="playing">
          <button v-on:click="pause()">Pause</button>
        </span>
        <span v-else>
          <button v-on:click="cont()">Play</button>
        </span>
      </div>
      <div>
        <button v-on:click="init()">Home</button>
        <button v-on:click="goUp()">..</button>
      </div>
      <div v-for="todo in items">
        <span v-if="todo.Type === 'dir'">
          [ todo.Name ] ([ todo.Type ])
          <button v-on:click="read(todo.Name)">Open</button>
          <button v-on:click="play(todo.Name)">Play</button>
        </span>
        <span v-if="todo.Type === 'file'">
          [ todo.Name ] ([ todo.Type ])
          <button v-on:click="play(todo.Name)">play</button>
        </span>
      </div>
    </div>
    <script type="text/javascript" src="public/scripts/vue.min.js"></script>
    <script type="text/javascript" src="public/scripts/main.js"></script>
  </body>
</html>